.switch{
    border: 1px solid black;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.false{
    background-color: rgb(165, 165, 165);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}
.true{
    background-color: #F28705;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
}
.animal{
    display: flex;
    align-items: center;
    gap: 2%;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.listAnimals{
    display: flex;
    gap: 32px;
    flex-direction: column;
}